.cardUpperPortion {
  background-size: auto 100%;
  background-position: center;
  z-index: 1;
  transition: transform .2s ease-in;
  will-change: transform;
  overflow: hidden;
  box-shadow: 0 22px 22px -22px #000;
      
  .isActive & {
      transform: translateY(-115px);
  }

  .cardInfo {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-weight: 300;
  }
}